<div class="container">
  <h1>Política de Privacidade</h1>

  <h2>Coleta de informações pessoais</h2>
  <p>Coletamos diferentes tipos de informações pessoais sobre você quando você usa nosso site, incluindo:</p>
  <ul>
    <li>Informações que você nos fornece: podem incluir seu nome, endereço de e-mail, número de telefone, informações
      demográficas e outros dados que você nos fornece ao se registrar em nosso site, criar uma conta, jogar ou entrar
      em contato com o atendimento ao cliente.
    </li>
    <li>Informações que coletamos automaticamente: Quando você usa nosso site, coletamos automaticamente certas
      informações sobre seu dispositivo e sua atividade, incluindo seu endereço IP, tipo de navegador, sistema
      operacional, data e hora de sua visita, páginas que você visualiza e as ações que você realiza em nosso site.
    </li>
    <li>Informações de cookies e outras tecnologias de rastreamento: Usamos cookies e outras tecnologias de rastreamento
      para coletar informações sobre sua atividade em nosso Site. Usamos cookies para diversos fins, incluindo melhorar
      sua experiência de usuário, rastrear sua atividade em nosso Site e fornecer-lhe informações direcionadas e
      anúncios.
    </li>
  </ul>

  <h2>Uso de informações pessoais</h2>
  <p>Usamos suas informações pessoais para os seguintes fins:</p>
  <ul>
    <li>Fornecimento e melhoria dos nossos serviços: Utilizamos as suas informações pessoais para lhe fornecer os nossos
      serviços, incluindo acesso aos jogos, processamento das suas apostas e pagamento dos seus ganhos. Também
      utilizamos suas informações pessoais para melhorar nossos serviços e desenvolver novos recursos e produtos.
    </li>
    <li>Entrando em contato com você: Poderemos usar suas informações pessoais para contatá-lo sobre sua conta, nossos
      serviços ou outros fins relacionados ao nosso negócio.
    </li>
    <li>Personalização da sua experiência: Podemos usar suas informações pessoais para personalizar sua experiência em
      nosso Site, inclusive para fornecer recomendações e ofertas de jogos direcionadas.
    </li>
    <li>Publicidade: Podemos usar suas informações pessoais para mostrar publicidade direcionada em nosso site e em
      outros sites.
    </li>
    <li>Finalidades de pesquisa: Podemos usar suas informações pessoais para fins de pesquisa para entender melhor
      nossos usuários e melhorar nossos serviços.
    </li>
  </ul>

  <h2>Divulgação de informações pessoais</h2>
  <p>Poderemos divulgar suas informações pessoais a terceiros nos seguintes casos:</p>
  <ul>
    <li>Provedores de serviços: podemos divulgar suas informações pessoais a terceiros que nos prestam serviços, como
      processamento de pagamentos, atendimento ao cliente e marketing.
    </li>
    <li>Requisitos legais: Poderemos divulgar suas informações pessoais se formos obrigados a fazê-lo por lei ou por um
      mandado legal ou ação legal.
    </li>
    <li>Proteção dos nossos direitos: Poderemos divulgar as suas informações pessoais se acreditarmos que é necessário
      para proteger os nossos direitos ou propriedade.
    </li>
  </ul>

  <h2>Armazenamento e proteção de suas informações pessoais</h2>
  <p>Tomamos medidas para proteger suas informações pessoais contra acesso, uso, divulgação, alteração ou destruição não
    autorizados. Retemos as suas informações pessoais apenas durante o tempo necessário para cumprir os fins para os
    quais foram recolhidas ou para cumprir as nossas obrigações legais.</p>

  <div class="highlight">
    <h2>Diversão em jogos inteligentes: Jogos para entretenimento online para adultos a partir dos 18 anos!</h2>
    <p>Estamos empenhados em garantir que a nossa posição de jogo se baseia num sistema de verificação robusto que
      proporciona uma verificação segura da idade aos nossos clientes. Este é um princípio fundamental que define a
      nossa abordagem para a criação de serviços de jogo seguros, pois acreditamos fortemente que os jogos só devem ser
      acedidos por adultos responsáveis e conscientes. Acreditamos firmemente que o jogo responsável não consiste apenas
      em seguir as regras, mas também em mostrar cuidado e atenção aos nossos clientes.</p>
  </div>


  <p>
    <a href="https://www.gamblingtherapy.org" target="_blank">www.gamblingtherapy.org</a> – Gambling Therapy é um
    serviço de apoio on-line mundial que oferece aconselhamento a pessoas que foram afetadas negativamente pelo jogo.
  </p>
  <p>
    <a href="https://www.gamblersanonymous.org/ga" target="_blank">www.gamblersanonymous.org/ga</a> – Jogadores Anônimos
    oferece aconselhamento por telefone ou pessoalmente a qualquer pessoa afetada pelo jogo.
  </p>
</div>
